/* body{
    background: url(https://images.squarespace-cdn.com/content/v1/5303cdc2e4b01fb736d82734/1514984670226-3NVZ28SKTPW8V9WBZ5J9/landing_header_bg.png?format=2500w);
} */
.container-fluid img{
    margin-right: 10px;
    
}

.d-flex{
    margin-right: 20px;
}

/* main nav and boardid */

#nav-board{
    display: flex;
    height: 100%;
    
    
}
#nav-content{
    display: flex;
    flex-direction: column;
    background: lightgray;
    width: 20%;

    
}
#nav-content h3{
    margin-top: 20px;
    font-weight: 100;
    font-size: large;
}
#sidebar{
    margin-top: 200px;
    margin-left:20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height:50%;
}



#boardid{
    display: flex;
    margin-top: 5%;
    padding: 50px;
    flex-wrap: wrap;
    margin-left: 20%;
}

#createboardforuser{
    text-align: center;
}
#createboardforuser button{
    margin-top: 20px;
}
#createboardforuser input{
    width: 10%;
}

/* .modal-content{
    width: 20%;
    height: 100px;
    background: coral;
    text-align: center;
}


.modal-content button{
    margin-top: 10px;
} */


